{% load i18n %} {% load static %}

<!-- مسار التنقل -->
<!-- مسار التنقل -->
{% load i18n %}
<div class="container">
  <nav aria-label="breadcrumb" style="padding-top: 20px">
    <ol class="breadcrumb">
      {% for crumb in breadcrumbs %}
        {% if not forloop.last and crumb.url %}
          <li class="breadcrumb-item">
            <a href="{{ crumb.url }}">
              {% if forloop.first %}
                <i class="bi bi-house-door fa-lg"></i>
              {% endif %}
              {{ crumb.title }}
            </a>
          </li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">
            {% if forloop.first %}
              <i class="bi bi-house-door fa-lg"></i>
            {% endif %}
            {{ crumb.title }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
